/* RESET GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body{
    background-color: #f5efe6;
    color: #2b2b2b;
    font-family: system-ui, -apple-system, sans-serif;
    text-align: center;
    line-height: 1.6;
}

/* HEADER */
header{
    background-color: #ffffff;
    margin: 30px auto;
    padding: 25px;
    width: 90%;
    max-width: 1000px;
    border: 1px solid #e8dccb;
    border-radius: 20px;
}

/* NAV */
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

/* BOTONES PRO */
nav a{
    color: #3a3a3a;
    text-decoration: none;
    font-weight: 500;
    padding: 10px 22px;
    border: 1.5px solid #d4af37; /* dorado */
    border-radius: 30px;
    background-color: transparent;
    transition: all 0.3s ease;
}

nav a:hover{
    background-color: #d4af37;
    color: white;
    transform: translateY(-2px);
}

/* TITULOS */
h1{
    font-size: 32px;
    margin-bottom: 10px;
}

h2{
    font-size: 24px;
    margin: 20px 0 10px;
    color: #8b6f3d;
}

/* MAIN */
main{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 40px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #e8dccb;
}

/* TEXTO */
p{
    font-size: 18px;
    max-width: 700px;
    margin: 15px auto;
    color: #444;
}

/* IMAGENES */
img{
    display: block;
    max-width: 80%;
    height: auto;
    margin: 25px auto;
    border: solid 8px #f0e6d6;
    border-radius: 20px;
}

/* FOOTER */
footer{
    background-color: #e8dccb;
    color: #3a3a3a;
    font-size: 14px;
    padding: 20px;
    margin-top: 40px;
}